<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binary Upload Boom</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    /><link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <header id="header" class="alt">
        <h1><a href="index.html">Spectral</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="index.html">Start</a></li>
                            <li><a href="generic.html">Registrerte turer</a></li>
                            <li><a href="elements.html">Registere tur</a></li>
                            <li><a href="#">Lag konto</a></li>
                            <li><a href="#">Logg Inn</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>TRANSLOCATE</h2>
            <p>Finn en å dele turen med<br />
            </p>
            <ul class="actions special">
                <li><a href="#" class="button primary">Logg in</a></li>
                <li><a href="#" class="button primary">Ny Konto</a></li>
            </ul>
        </div>
        <a href="#one" class="more scrolly">LÆR MER</a>
    </section>
    
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
  </body>
</html>