<!DOCTYPE HTML>

<html>
	<head>
		<title>Translocate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous"/>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
	</head>
  <body>
    <header id="header" class="alt">
        <h1>Translocate</h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="index.html">Start</a></li>
                            <li><a href="/feed">Turtavla</a></li>
                            <li><a href="/profile">Post tur</a></li>
                            <li><a href="/signup">Lag konto</a></li>
                            <li><a href="/login">Logg inn</a></li>
                            <li><a href="/logout">Logg ut</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>TRANSLOCATE</h2>
            <p>Finn en å dele turen med<br />
            </p>
     
        </div>
        <a href="#one" class="more scrolly">LÆR MER</a>
    </section>
    

  </body>
</html>