<%- include('partials/header') -%>


<section id="one" class="wrapper style1 special">
  <div class="inner">
    <header class="major">
      <h2>Post turen din!</h2>
    </header>
    <ul class="features">
      <% for(var i=0; i<posts.length; i++) {%>
      <li class="icon solid fa-car">
        <a href="/post/<%= posts[i]._id%>">
          <img class="img-fluid" src="<%= posts[i].image%>">
      </li>
      <% } %>
    </ul>
  </div>
</section>


<%- include('partials/footer') -%>