<%- include('partials/header') -%>
<section id="one" class="wrapper style1 special">
  <div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Registrer din tur!</h2>

            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="fromWhere" class="form-label">Fra</label>
                  <input type="text" class="form-control" id="fromWhere" name="fromWhere">
              </div>
              <div class="mb-3">
                  <label for="toWhere" class="form-label">Til</label>
                  <input type="text" class="form-control" id="toWhere" name="toWhere">
              </div>   
              <div class="mb-3">
                <label for="departureDate" class="form-label">Dato</label>
                <input type="date" class="form-control" id="departureDate" name="departureDate">
              </div>       
              <div class="mb-3">
                <label for="departureTime" class="form-label">Avreisetid</label>
                <input type="time" class="form-control" id="departureTime" name="departureTime">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Detaljer</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Send</button>

            </form>
          </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
</section>

<%- include('partials/footer') -%>