<!DOCTYPE HTML>

<html>
	<head>
		<title>Translocate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>

				<!-- Scripts -->
				<script defer src="/assets/js/jquery.min.js"></script>
				<script defer src="/assets/js/jquery.scrollex.min.js"></script>
				<script defer src="/assets/js/jquery.scrolly.min.js"></script>
				<script defer src="/assets/js/browser.min.js"></script>
				<script defer src="/assets/js/breakpoints.min.js"></script>
				<script defer src="/assets/js/util.js"></script>
				<script defer src="/assets/js/main.js"></script>
	</head>


	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Translocate</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Start</a></li>
											<li><a href="/brukerprofil">Min side</a></li>
											<li><a href="/turtavle">Turtavla</a></li>
											<li><a href="/postentur">Post tur</a></li>
											<li><a href="/lagkonto">Lag konto</a></li>
											<li><a href="/logginn">Logg inn</a></li>
											<li><a href="/loggut">Logg ut</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
        <section id="banner">
          <div class="inner">
              <h2>Turpost</h2>
              <p>Sammen blir turen hyggeligere</p>       
          </div>
          <a href="#one" class="more scrolly"></a>
        </section>
		
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <div class="flex-direction-column mt-5">
                    <div>
                        <p><strong>Brukernavn</strong>: <%= user.userName %></p>
                        <p><strong>Email</strong>: <%= user.email %></p>
                       
                        <a href="/loggut" class="col-3 btn btn-primary">Logg ut</a>
                    </div>
                    <div>
                      
                    </div>
				</div>
            </div>	            		
        </section>
	

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/ninjanordbo" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/ninjanordbo" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/ninanordbo/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
						
					</ul>
					<ul class="copyright">
						<li>&copy; Ninjanordbo</li><li><a href="http://ninjanordbo.dev">Portfolio</a></li>
					</ul>
				</footer>

			

	

	</body>
</html>

